.wrapper1 {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important; 
    justify-content: center !important;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
  }
  
  .formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(104, 99, 99, 0.3);
    box-shadow: 0 30px 60px 0 rgba(110, 109, 109, 0.3);
    text-align: center;
  }
  